
<h1 >ADD THINGS TO DO</h1><div class="d-flex justify-content-center"><input class="col-4" type="text" placeholder="Enter things to do" #bo />  <button  #btn (keydown.enter)="EnterSubmit(bo.value,bo)" (click)="EnterSubmit(bo.value,bo)">Add</button></div><div class="d-flex flex-column mt-4 align-items-center ">  <h1>TO-DO</h1><table>  <tr>    <th>TO-DO</th>    <th>DELETE</th>  </tr>  <tr *ngFor="let item of list,index as i">    <td >{{item.name}} </td>    <td><button value="remove" (click)="remove(i)">Remove</button> </td>  </tr></table>
<router-outlet></router-outlet>
</div>

